{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% include "partials/pagination.html" %}
  {% for school in schools %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <h3><a href="/school/{{school.slug}}">{{school.name}}</a></h3>
          <p>
            {% if school.getStreetAddress() %}
              {{school.getStreetAddress()}},
            {% endif %}
            {{school.city}}, {{school.state}} {{school.zip}}
          </p>
          <p><a href="tel:{{school.phone}}">{{school.phone | phone_number}}</a></p>
          <p>District: <a href="/district/{{school.agency_slug}}">{{school.agency}}</a></p>
          <p>Type: {{school.type}}</p>
          <div>
            <img src="{{map.url}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% include "partials/pagination.html" %}
</div>
{% endblock %}
