{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}

  {% if context.district %}
    <div class="panel">
      <div class="panel-body">
        <h1>{{context.district.agency}}</h1>
        <div>
          <h3>Size</h3>
          <ul>
            <li>Total students: {{context.district.total_students_all_grades_includes_ae}}</li>
            <li>Number free/reduced lunch eligible: {{context.district.num_free_lunch_eligible + context.district.num_reduced_lunch_eligible}}</li>
          </ul>
        </div>
        <div>
          <h3>Teachers</h3>
          <ul>
            <li>Number of teachers: {{context.district.getRoundedNumberOfTeachers()}}</li>
            <li>Student/Teacher ratio: {{context.district.getStudentTeacherRatio()}}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% include "partials/pagination.html" %}
  {% for school in schools %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <h3><a href="{{school.getUrl()}}">{{school.name}}</a></h3>
          <p>
            {% if school.getStreetAddress() %}
              {{school.getStreetAddress()}},
            {% endif %}
            {{school.city}}, {{school.state}} {{school.zip}}
          </p>
          <p><a href="tel:{{school.phone}}">{{school.phone | phone_number}}</a></p>
          <p>District: <a href="/district/{{school.agency_slug}}">{{school.agency}}</a></p>
          <p>Type: {{school.type}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% include "partials/pagination.html" %}
</div>
{% endblock %}
