{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<style>
  tr.indent td {
    margin-left: 3em;
  }
</style>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-7">
              <h3>{{school.name}}</h3>
              <p>
                {% if school.getStreetAddress() %}
                  {{school.getStreetAddress()}},
                {% endif %}
                {{school.city}}, {{school.state}} <a href="/{{school.zip}}-schools">{{school.zip}}</a>
              </p>
              <p><a href="tel:{{school.phone}}">{{school.phone | phone_number}}</a></p>
              <p>District: <a href="/district/{{school.agency_slug}}">{{school.agency}}</a></p>
              <p>{{school.getGradeRange()}}</p>
              <p>Type: {{school.type}}</p>
              <p>NCES ID: {{school.nces_agency_identification_number}}{{school.nces_school_identifier}}</p>
              <div>
                <h2>Size</h2>
                Total students: {{school.total_students_all_grades_includes_ae}}
                <br>
                Number free/reduced lunch eligible: {{school.num_free_lunch_eligible + school.num_reduced_lunch_eligible}}
              </div>
              <div>
                <h2>Teachers</h2>
                <ul>
                  <li>Number of teachers: {{school.getRoundedNumberOfTeachers()}}</li>
                  <li>Student/Teacher ratio: {{school.getStudentTeacherRatio()}} (Top {{school.student_teacher_ratio_pct | round(1)}}% in the nation, top {{school.student_teacher_ratio_state_pct | round(1)}}% in state, and top {{school.student_teacher_ratio_district_pct | round(1)}}% in school district)</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-5">
              <iframe width="100%" height="400" frameborder="0" style="border:0" src="{{map.url}}" allowfullscreen></iframe>
            </div>
          </div>
          <div>
            <h2>Grade Size</h2>
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <th>Grade</th>
                  <th>Number of students</th>
                </tr>
              </thead>
              <tbody>
                {% if school.prekindergarten_students > 0 %}
                  <tr>
                    <td>Pre-K</td>
                    <td>{{school.prekindergarten_students}}</td>
                  </tr>
                {% endif %}
                {% if school.kindergarten_students > 0 %}
                  <tr>
                    <td>Kindergarten</td>
                    <td>{{school.kindergarten_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_1_students > 0 %}
                  <tr>
                    <td>Grade 1</td>
                    <td>{{school.grade_1_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_2_students > 0 %}
                  <tr>
                    <td>Grade 2</td>
                    <td>{{school.grade_2_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_3_students > 0 %}
                  <tr>
                    <td>Grade 3</td>
                    <td>{{school.grade_3_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_4_students > 0 %}
                  <tr>
                    <td>Grade 4</td>
                    <td>{{school.grade_4_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_5_students > 0 %}
                  <tr>
                    <td>Grade 5</td>
                    <td>{{school.grade_5_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_6_students > 0 %}
                  <tr>
                    <td>Grade 6</td>
                    <td>{{school.grade_6_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_7_students > 0 %}
                  <tr>
                    <td>Grade 7</td>
                    <td>{{school.grade_7_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_8_students > 0 %}
                  <tr>
                    <td>Grade 8</td>
                    <td>{{school.grade_8_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_9_students > 0 %}
                  <tr>
                    <td>Grade 9</td>
                    <td>{{school.grade_9_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_10_students > 0 %}
                  <tr>
                    <td>Grade 10</td>
                    <td>{{school.grade_10_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_11_students > 0 %}
                  <tr>
                    <td>Grade 11</td>
                    <td>{{school.grade_11_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_12_students > 0 %}
                  <tr>
                    <td>Grade 12</td>
                    <td>{{school.grade_12_students}}</td>
                  </tr>
                {% endif %}
                {% if school.grade_13_students > 0 %}
                  <tr>
                    <td>Grade 13</td>
                    <td>{{school.grade_13_students}}</td>
                  </tr>
                {% endif %}
                {% if school.ungraded_students > 0 %}
                  <tr>
                    <td>Unknown</td>
                    <td>{{school.ungraded_students}}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <div>
            <h2>Demographic Information</h2>
            <ul>
              <li>Number of male students: {{school.getNumberMale()}}</li>
              <li>Number of female students: {{school.getNumberFemale()}}</li>
            </ul>
            <h4>Race/Gender table</h4>
            <table class="table table-striped table-hover table-condensed jquery-datatable">
              <thead>
                <tr>
                  <th>Race/Gender</th>
                  <th>Number of students</th>
                </tr>
              </thead>
              <tbody>
                {% if school.all_students_american_indian_alaska_native >= 0 %}
                  <tr>
                    <td>American Indian/Alaska native</td>
                    <td>{{school.all_students_american_indian_alaska_native}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_american_indian_alaska_native_female >= 0 %}
                  <tr class="indent">
                    <td>American Indian/Alaska native female</td>
                    <td>{{school.all_students_american_indian_alaska_native_female}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_american_indian_alaska_native_male >= 0 %}
                  <tr class="indent">
                    <td>American Indian/Alaska native male</td>
                    <td>{{school.all_students_american_indian_alaska_native_male}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_asian >= 0 %}
                  <tr>
                    <td>Asian</td>
                    <td>{{school.all_students_asian}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_asian_female >= 0 %}
                  <tr class="indent">
                    <td>Asian female</td>
                    <td>{{school.all_students_asian_female}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_asian_male >= 0 %}
                  <tr class="indent">
                    <td>Asian male</td>
                    <td>{{school.all_students_asian_male}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_black >= 0 %}
                  <tr>
                    <td>Black</td>
                    <td>{{school.all_students_black}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_black_female >= 0 %}
                  <tr class="indent">
                    <td>Black female</td>
                    <td>{{school.all_students_black_female}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_black_male >= 0 %}
                  <tr class="indent">
                    <td>Black male</td>
                    <td>{{school.all_students_black_male}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_hawaiian_native_pacific_islander >= 0 %}
                  <tr>
                    <td>Hawaiian native pacific islander</td>
                    <td>{{school.all_students_hawaiian_native_pacific_islander}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_hawaiian_native_pacific_islander_female >= 0 %}
                  <tr class="indent">
                    <td>Hawaiian native pacific islander female</td>
                    <td>{{school.all_students_hawaiian_native_pacific_islander_female}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_hawaiian_native_pacific_islander_male >= 0 %}
                  <tr class="indent">
                    <td>Hawaiian native pacific islander male</td>
                    <td>{{school.all_students_hawaiian_native_pacific_islander_male}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_hispanic >= 0 %}
                  <tr>
                    <td>Hispanic</td>
                    <td>{{school.all_students_hispanic}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_hispanic_female >= 0 %}
                  <tr class="indent">
                    <td>Hispanic female</td>
                    <td>{{school.all_students_hispanic_female}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_hispanic_male >= 0 %}
                  <tr class="indent">
                    <td>Hispanic male</td>
                    <td>{{school.all_students_hispanic_male}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_two_or_more_races >= 0 %}
                  <tr>
                    <td>Two or more races</td>
                    <td>{{school.all_students_two_or_more_races}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_two_or_more_races_female >= 0 %}
                  <tr class="indent">
                    <td>Two or more races female</td>
                    <td>{{school.all_students_two_or_more_races_female}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_two_or_more_races_male >= 0 %}
                  <tr class="indent">
                    <td>Two or more races male</td>
                    <td>{{school.all_students_two_or_more_races_male}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_white >= 0 %}
                  <tr>
                    <td>White</td>
                    <td>{{school.all_students_white}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_white_female >= 0 %}
                  <tr class="indent">
                    <td>White female</td>
                    <td>{{school.all_students_white_female}}</td>
                  </tr>
                {% endif %}
                {% if school.all_students_white_male >= 0 %}
                  <tr class="indent">
                    <td>White male</td>
                    <td>{{school.all_students_white_male}}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
